:root {
    --bg: #f1e3e3;
    --text: #222;
    --primary: #188b8d;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

.Logo {
    width: 60px;      /* tamaño del logo */
    height: auto;     /* mantiene proporción */
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: var(--primary);
    color: white;
}

.navbar nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}


/* PERSONAJE */
.personaje {
    text-align: center;
    padding: 60px 20px;
}

.personaje-img {
    width: 180px;
    border-radius: 50%;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

.skills li {
    margin: 5px 0;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}



/* FORM */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    height: 120px;
}

.btn {
    background: var(--primary);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background: #555;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #188b8d;
}
